.inputContainer {
  position: relative;

  &_label {
    position: absolute;
    top: 50%;
    left: $padding_small;
    transform: translateY(-50%);

    transition: top $transition_fast, background $transition_fast;
  }

  &_input {
    width: 100%;
    height: 100%;

    padding: $padding_small;
  }
}

.inputContainer--outlined {
  &_label {
    top: -5%;
    background: $dark;
  }

  &_input {
    background: $dark;
    border: 2px solid $primary;
  }
}