@mixin outlined_label {
  top: -5%;
  background: $dark;
}

@mixin outlined_input {
  outline: none;
  background: $dark;
  border: 2px solid $primary;
}

.inputContainer {
  position: relative;

  &_label {
    position: absolute;
    top: 50%;
    left: $padding_small;
    transform: translateY(-50%);

    transition: top $transition_fast, background $transition_fast;
  }

  &_input {
    width: 100%;
    height: 100%;

    padding: $padding_small;
    border-radius: $border_radius_default;
  }

  &_input:focus {
    @include outlined_input;
  }

  &_input:focus &_label {
    @include outlined_label;
  }
}

.inputContainer--outlined {
  &_label {
    @include outlined_label;
  }

  &_input {
    @include outlined_input;
  }
}