
@mixin outlined_input {
  border: 2px solid $primary;
  outline: none;
  color: $primary;
  background: $dark;
}

.textArea {
  width: 100%;
  min-height: 100%;

  border: none;
  border-radius: $border_radius_default;

  padding: $padding_small;

  background: $primary;
  color: $primary;

}

.textArea::placeholder {
  color: $dark;
}

.textArea--outlined {
  @include outlined_input;
}

.textArea:focus {
  @include outlined_input;
}

