$padding_small: 1rem;
$padding_default: 1.3rem;
$padding_big: 1.5rem;

$transition_fast: .1s;
$transition_default: .3s;
$transition_long: .5s;

$border_radius_default: .3rem;

$header_font_size_default: 1.8rem;

$btn_font_size: 1.1rem;
