@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import './colors.scss';
@import './mixins.scss';
@import './defaults.scss';

// pages

@import './pages/search.scss';
@import './pages/results.scss';
@import './pages/result.scss';

//  components

@import './components/TextInput.scss';
@import './components/TextArea.scss';
@import './components/Loading.scss';
@import './components/ImageSlider.scss';
@impirt './components/RatingInput.scss';

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: $primary;
}