@mixin flex-default {
  display: flex;
  flex-direction: column;
}

@mixin flex-centered {
  @include flex-default;

  justify-content: center;
  align-items: center;
}

@mixin page-default {
  width: 100%;
  min-height: 100vh;

  background: $dark;
}

@mixin button {
  border-radius: $border_radius_default;
  font-size: $btn_font_size;
  cursor: pointer;
  transition: color $transition_fast, background $transition_fast;
}

@mixin button-default {
  @include button;

  background-color: $primary;
  color: $dark;
}

@mixin button-outlined {
  @include button;

  border: 2px solid $primary;
  background-color: $dark;
  color: $primary;
}

@mixin shadow {
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.58); 
  box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.58);
}