.searchPage {
  @include page-default;
  @include flex-centered;

  background: url('~/assets/img/search_image.jpg');
  background-position: center;

  .searchPage_searchBox {
    background: $dark;

    width: 30rem;
    height: 30rem;

    padding: $padding_big;

    .searchBox_header {
      margin-bottom: $padding_default;
      font-size: $header_font_size_default;
    }
  }
}