.searchPage {
  @include page-default;
  @include flex-centered;

  background: url('~/assets/img/search_image.jpg');
  background-position: center;

  &_searchBox {
    background: $dark;

    width: 30rem;
    height: 30rem;

    padding: $padding_big;
  }
}